header {
  z-index: 1;
  padding: 1rem;
  color: black;
  font-size: 1.25rem;
  background-color: white;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100vw;
  opacity: 1;
  box-shadow: black 1px 1px 20px;
}

p:hover {
  opacity: 0.3;
  cursor: pointer;
  color: #ddd;  
  }